
.App {
  text-align: center;
  /* background: url('../src/assests/images/Unsplash2.jpg'); */
  background-image: url('../src/assests/images/Unsplash9.jpg');
  height: 100%;


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;



}

.ui.selection.dropdown{
  border: 1px solid  #F6E6A3!important;
  background-color: transparent !important;
  color: #F6E6A3 !important;
  cursor: pointer !important;
  /* border-radius: 25px !important; */
}

.ui.dropdown.selected, .ui.dropdown .menu .selected.item
{
  color:  #000000 !important;


}
.ui.selection.dropdown .menu > .item {
  color:  #000000 !important;

}

