@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


.large-icons-section{
    background-color: #1c1c1c;
    font-family: 'Montserrat', sans-serif;
}

.b-count{
    background-color:#1c1c1c;
    text-align: center;
    padding: 20px 120px 20px 180px;

    border-radius: 0px 0px 0px 0px;
}

.count-icons{
    font-size: 100px;
    color:#F6E6A3;
    border: 2px solid #F6E6A3;
    border-radius: 100%;
    padding: 15px;
    margin: 20px;

}

.select-container select option{
    outline:3px double rgba(188,188,188,0);
    outline-offset: -4px;
    background: red;
    width: 500px;
    padding:12px 0px 10px 24px;
    transition: all 120ms ease;
}

.count-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.percent {
    color: #f9dd6d;
    font-size: 40px;
    margin: 5px;
}

.title {
    color: #F6E6A3;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 0px;
}

.b-welcome {
    color: #fefefe;
    font-family: 'Montserrat', sans-serif;

}


.b-welcome:after {
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: block;
    content: '';
}

.welcome-container{
    margin-left: 140px;
    margin-right: 140px;
}
.points{
    margin-left: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.check-icon{
    margin-right: 8px;
}

.introduction-icons{
    height: 220px;
    width: 220px;

    margin: 20px;
    align-items: center;
    background-color:#1a1a1a;
    border-radius: 10px;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);

}

.icon-desc{
    font-size: 20px;
    margin: 6px;
    text-transform: uppercase;
    color:white;
    font-weight: normal;
}

.welcome-section-icons{
    font-size: 120px;
    padding: 30px;
    border: 2px solid #F6E6A3;
    border-radius: 50%;
    margin-top: 40px;
    color:#F6E6A3;


}

.welcome-section-icons:hover {
    background-color:#F6E6A3;
    color:#2b2b2b;

}
.container-elements{
    margin: 20px 0px 20px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: flex-start;

}

.b-welcome__text h2 {
    font: 400 14px 'Open Sans', sans-serif;
    padding: 0 10px;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 0 10px 0;
}

.b-welcome__text h3 {
    font: 700 30px 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

.b-welcome__text p {
    font: 300 13px 'Open Sans', sans-serif;
    margin: 0 0 25px 0;
}



.b-welcome__services h3 {
    font: 600 14px 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin: 20px 0 0 0;
}

.b-welcome__services-img {
    height: 90px;
    width: 90px;
    border: 2px solid #efefef;
    border-radius: 100%;
    display: inline-block;
    position: relative;
}

.b-welcome__services-auto,
.b-welcome__services-trade,
.b-welcome__services-buying,
.b-welcome__services-support {
    background-color: #fff;
    padding: 35px 0;
    text-align: center;
}

.b-welcome__services-img:hover {
    border: none;
    cursor: pointer;
}


.b-welcome__services-img.m-auto span.fa {
    margin-top: 23px;
}

.b-welcome__services-img svg {
    height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
}

.b-welcome__services .m-padding {
    padding: 0 10px;
}

.b-welcome__services > .row {
    margin-right: -10px;
    margin-left: -10px;
}






.para-heading{
    font-size: 20px;
    border-left: 3px solid #F6E6A3;
    border-right: 3px solid #F6E6A3;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;



}

.introduction-para{
    margin-top: 50px;
    text-align: left;
}

.para-title{

    margin: 15px 10px 10px 0px;
    text-transform: uppercase;
    font-size: 30px;
    color: #F6E6A3;
    font-weight:bolder;
}
.paragraph{
    margin-left: 0px;
    margin-top: 30px;
    word-wrap:normal;
}











.filter-sections{
    border-top: 5px solid #F6E6A3;
    text-align: center;
    border-radius: 5px;
    background-color: #1a1a1a;
    margin-top: -100px;
    padding: 40px 60px 40px 60px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);



}

.filter-title-section{
    background-color: #F6E6A3;
    width: 700px;
    display: flex;
    padding-bottom: 8px;
    margin-right: 0px;
    border-radius: 4px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
.filter-title{
    margin-top: 10px;
    font-size: 18px;
    padding: 5px 15px 6px 15px;
    border-left: 4px solid black;
    border-right: 4px solid black;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
    color: black;

}
.min-price, .max-price{
    background-color: transparent;
    border: 1px solid #F6E6A3;
    padding: 10px;
    border-radius: 5px;


}

.min-price:focus, .max-price:focus{
    outline: none;
}

.filter-by-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.align-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.car-icon {
    font-size: 40px;
    color: #F6E6A3;
    height: 40px;
    width: 50px
}
.filter-section-1{
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap:90px;

}
.car-desc{
    font-size: 15px;
    color: white;
}

.filter-desc{
    font-size: 18px;
    color: white;
    font-weight: normal;
}

.filter-section-2{
    display: flex;
    flex-direction: row;
    grid-gap: 30px;
    gap: 30px;
    justify-content: center;
    flex-wrap: nowrap;
    margin-left: 30px;
    margin-right: 30px;
    align-items: flex-end;
}

.filter-section-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    align-content: flex-end;
    flex-wrap: nowrap;
    align-items: flex-end;
    text-align: left;
    gap: 260px;

}








.filter-dropdown-item{
    padding: 10px;
    color:#F6E6A3;


}

.filter-dropdown-item:hover{
    color: #F6E6A3;
}


.elements-3{
    display: grid;
    grid-template-columns: repeat(2, auto);
}


.select-desc{
    font-size: 12px;
    color: white;
    text-align: left;
    font-weight: normal;

}
.button-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    border: 1px solid #F6E6A3;
    background-color: #F6E6A3;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.967));
    border-radius: 30px;
    cursor: pointer;
    float:right;
    gap: 20px;
    width: 280px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.button-search:hover{
    background-color: transparent;
    color: #F6E6A3;
}


.select-container{
    border: 1px solid #F6E6A3;
    border-radius: 25px;
    height: 40px;
    width: 190px;
    padding: 8px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}



.angle-icon{

    padding: 15px;
    color: #F6E6A3;
    background-color:#1a1a1a;
    border-radius: 50%;
    padding-left: 19px;
    padding-right: 19px;


}



.how-it-works{
    width: 100%;
    padding: 40px 120px 40px 120px;
    text-align: center;
}
.how-it-works-section-titlle{
    font-size: 25px;
    color: #F6E6A3;
    font-weight: bolder;

}

.guide{
    margin-top: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.work-image{
    height: 200px;
    width: 220px;
    padding: 10px;

    animation: fadeIn 10s;

}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


.works-data{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    align-items: center;
    flex-wrap: wrap;
}



.works-img-desc{
    margin-top: 20px ;
}

.how-it-works > span {
    padding: 20px;
}


.featured-cars-section{
    margin-top: 40px;
    margin-bottom: 10px;

}
.featured-cars{
    padding: 30px;
    display: flex;
}

.car-box{
    background-color: rgb(0, 0, 0);
    display: flex;
    margin: 10px;

}

.featured-title{
    font-size: 30px;
    color: white;
    text-transform:
     uppercase;
    font-weight: bolder;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 4px solid #F6E6A3;
    border-right: 4px solid #F6E6A3;
}

.featured-car-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    color: white;
}

.featured-car-image{
    height: 280px;
    width: 100%;
}


.featured-car-name{
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #F6E6A3;
}

.featured-car-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 10px;
}

.featured-car-specs{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);


}

.specs-details{
    display: flex;
    flex-direction: column;
    align-items: center;


}
.specs-title{
    text-transform: capitalize;
    font-weight: bold;
}

.specs{
    text-transform: capitalize;
}

.specs-details.middle{
    padding-left: 35px;
    padding-right: 35px;
    border-left:2px solid rgb(255, 255, 255);
    border-right:2px solid rgb(255, 255, 255);

}
.specs-details.start{

    padding-right: 35px;


}
.specs-details.end{
    padding-left: 35px;


}

.customer-reviews-section{
    margin-top: 20px;
    margin-bottom: 20px;
}

.review-container{
    padding: 30px;
}

.customer-reviews-title{
    display: flex;
    font-size: 25px;
    font-weight: bolder;
    color: white;

}

.reviews{
    display: flex;
    margin: 50px 50px 40px 5px ;

    flex-direction: row;
    justify-content: space-around;

}



.review-box-container{
    display: flex;
    background-color: #1a1a1a;
    padding: 30px;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
}

.review-box{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}

.quotes{
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.review{
    word-wrap: break-word;
    font-style: italic;

}





@media screen and (max-width:1400px){

    .filter-container{
        background-color: rgb(1, 1, 1);
    }

    .filter{
        background-color: #2b2b2b;
        margin-left: 10em;
        margin-right: 10em;
        padding: 10px;
        height: 480px;
        margin-top: -125px;
        padding: 35px 60px 50px 60px;
        z-index: 1000;
        position: relative;
        box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);


    }

    .filter-sections{
        margin: 40px;
        text-align: center;


    }

    .filter-title-section{


        width: 500px;

        padding: 10px;
        align-content: center;
        align-items: center;
        margin-left: 10rem;

    }
    .filter-title{
        font-size: 15px;


    }
    .filter-by-icons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .align-side{

        gap: 10px;
    }




    .filter-desc{
        font-size: 20px;
        color: white;
    }

    .filter-section-2{
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: center;
        flex-wrap: nowrap;
        margin-left: 30px;
        margin-right: 30px;
    }

    .filter-section-3{
        display: flex;
        gap: 55px;
        flex-direction: row;
        justify-content: space-evenly;

        align-content: flex-end;
        flex-wrap: nowrap;
        align-items: center;
    }

    select{
        margin-right: 10px;
        width: 130px;



    }

    select > option {
        background-color: #595959;
    }




    .select-desc{
        font-size: 10px;

    }
    .button-search{

        margin-left: 180px;
    }


    .search{
        width: 200px;
        height: 45px;
        padding-left: 10px;

        /* padding: 10px; */
        border: none;
        background-color: transparent;
        color:  #2b2b2b;
        font-weight: bolder;
        letter-spacing: .5px;



    }

    .select-container{
        border: 1px solid #F6E6A3;
        border-radius: 25px;
        height: 40px;
        width: 150px;
        padding: 8px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

    }

    .angle-down-icon{
        color: rgb(255, 255, 255);
    }

    .angle-icon{

        padding: 15px;
        color: #F6E6A3;
        background-color: #595959;
        border-radius: 50%;
        padding-left: 20px;
        padding-right: 20px;


    }

    .price-range-slider{
        display: flex;
        gap: 10px;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
       margin-top: 10px;
        align-self: flex-end;

    }

    .input-slider{
        -webkit-appearance: none;
        /* margin-left: 20px; */
        width: 200px;
        height: 15px;
        border-radius: 20px;

        background-color: #2b2b2b;
        color: #F6E6A3;

    }


    .options{
        color: white;
    }

    .input-slider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: #F6E6A3; /* Green background */
        cursor: pointer;
         /* Cursor on hover */
      }

      .input-slider::-webkit-slider-thumb:hover {
        background: #f7dd75;
        box-shadow: 0 0px 1px 0px #f7f7f7;
      }

      .input-slider::-webkit-slider-thumb:active {
        background: #faefc4;

      }

    .buble{

        color: white;
        width: 120px;
        padding-left: 15px;
        padding-right: 15px;

    }

    .price-range{


        color: white;

    }



    .slider-value{
        padding: 10px;
        display: flex;
        align-items: flex-end;
        gap: 20px;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }


}


@media screen and (max-width:1199px){
    .not-row{
        display: flex;
        display: flex;
    align-items: center;
    flex-direction: column;

    }

    .welcome-container{
        margin-left: 10px;
        margin-right: 10px;
    }

    .introduction-icons{
        height: 100px;
        width: 100px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .introduction-para{
        width: 350;
        font-size: 10px;
        margin-left: 10px;
        margin-right: 10px;
        word-wrap: break-word;
    }

    .welcome-section-icons{
        font-size: 50px;
        padding:5px;
        margin-top: 20px;


    }
    .icon-desc{
        font-size: 10px;
    }




    .filter{

        margin-left: 20px;
        margin-right: 20px;


    }

    .filter-title-section{
        margin-left: 12rem;
    }


}



@media screen and (min-device-width: 768px)
and (max-device-width: 1024px){


    .filter-title-section{
        margin-left: 4rem;

    }

    .filter {
        height: 520px;
    }

    .filter-section-2{
        display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }

    .input-slider{
        width: 180px;
    }

    .price-range-slider{
        gap: 5px;
    }

    .filter-section-1{
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }

    .filter-section-3 {
        display: flex;
        gap: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 30px;

    }
    .button-search{
        margin-left: 20px;
    }
}


@media screen and (min-device-width: 480px)
and (max-device-width: 765px){

    .container-elements{
        flex-wrap: wrap;
    }

    .b-count{
        display: none;
    }
    .how-it-works{
        width: 100%;
        padding: 20px 40px 20px 40px;
        text-align: center;
    }
    .how-it-works-section-titlle{
        font-size: 25px;
        color: #F6E6A3;
        font-weight: bolder;

    }

    .guide{
        margin-top: 20px;
        color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .works-img-desc{
        font-size: 12px;
    }

    .work-image{
        height: 100px;
        width: 120px;
        padding: 10px;

        animation: fadeIn 10s;
    }



}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .welcome-container{
        margin-left: 5px;
        margin-right: 5px;
    }



    .not-row{
        display: flex;
    }
    .introduction-icons{
        height: 80px;
        width: 80px;
        margin-left: 2px;
        margin-right: 2px;
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .introduction-para{
        width: 200px;

        font-size: 10px;
        margin-top: 20px;
        word-wrap: break-word;
    }

    .welcome-section-icons{
        font-size: 30px;
        padding:5px;
        margin-top: 20px;


    }

    .elements-3{
        display: flex;
        margin-top: 0px;
        flex-direction: column;

    }

    .icon-desc{
        font-size: 7px;
    }

    .para-heading{
        width: 500px;
        font-size: 12px;
        letter-spacing: 2px;
    }
    .para-title{
        width: 100%;
        font-size:15px;
        letter-spacing: 2px;
    }



    .paragraph{
        margin: 10px 0px 10px 0px ;

    }

    .b-count{
        display: none;
    }

    /* .b-count{
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        gap: 10px;
    } */


    /* .count-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .count-item{
        width: 80px;
    }
    .count-icons{
        font-size: 50px;
        padding: 6px;
        margin: 10px;

    }
    .percent{
        font-size: 15px;

    }
    .title{
        font-size: 10px;
        word-wrap: break-word;
    } */

    .filter-container{
        background-color: rgb(1, 1, 1);
        display: none;
    }

    .filter{
        background-color: #595959;

        padding: 10px;
        height: 900px;
        margin-top: -20px;
        margin-bottom: 50px;
        padding: 5px 10px 8px 10px;
        z-index: 1000;
        position: relative;
        box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);


    }

    .filter-sections{
        margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;



    }

    .container-elements{
        margin: 40px 0px 40px 10px;
    }

    .filter-title-section{


        width: 320px;
        height: 40px;
        padding: 6px;
        margin: 1px;



    }
    .filter-title{
        font-size: 9px;
        font-weight: bolder;
        padding: 5px 3px 5px 3px;
        letter-spacing: 0px;


    }
    .align-side{
        display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


    .filter-desc{
        font-size: 20px;
        color: white;
    }

    .filter-section-2{
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    }

    .filter-section-3{
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap:20px;
    margin-top: 20px;

    }

    select{
        margin-right: 10px;
        width: 130px;

    }
    .filter-section-1 {
        display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;


    }


    .select-desc{
        font-size: 10px;
        margin-bottom: 2px;

    }
    .button-search{

        margin-left: 0px;
    }


    .search{
        width: 200px;
        height: 45px;
        padding-left: 10px;

        /* padding: 10px; */
        border: none;
        background-color: transparent;
        color: #595959;
        font-weight: bolder;
        letter-spacing: .5px;



    }


    .angle-down-icon{
        color: #F6E6A3;
    }

    .angle-icon{

        padding: 15px;
        color: #F6E6A3;
        background-color: #595959;
        border-radius: 50%;
        padding-left: 20px;
        padding-right: 20px;


    }



    .options{
        color: white;
    }



    .button-search{
        margin-top: 20px;
    }

    .works-data{
        height: 150px;
        width: auto;
        margin-right: 5px;
    }

    .how-it-works>span{
        font-size: 15px;
        padding: 5px;
    }

    .works-img-desc{
        font-size: 6px;
        margin-top: 5px;
    }

    .work-image{
        height: 70px;
        width: 80px;
        padding: 10px;

        animation: fadeIn 10s;
    }

    .how-it-works{
        width: 100%;
        padding: 5px 5px 5px 5px;
        text-align: center;
    }
    .how-it-works-section-titlle{
        font-size: 25px;
        color: #F6E6A3;
        font-weight: bolder;

    }

    .guide{
        margin-top: 20px;
        color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }




}



